.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 80px;
}

.pagination button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 0.1px solid rgba(41, 22, 0, 0.6);
  border-right: none;
  font-size: 24px;
  transition: all 0.3s ease;
  background-color: rgba(41, 22, 0, 0.5);
}

.pagination button:last-child {
  border-right: 0.1px solid rgba(41, 22, 0, 0.6);
}

.pagination button.active {
  background: rgba(41, 22, 0, 0.9);
  color: #e3e3d8;
}
