@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  margin: 0 auto;
  background: #e3e3d8;
  color: #2b1700;
  font-family: 'Poppins', sans-serif;
}
